---
layout: layouts/default.njk
section: recipes
class: recipes
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set postslist = collections.noodles %}
{% include "components/postslist.njk" %}
