<div class="photo-gallery grid-5-columns">
<div class="img">
<a class="group" href="https://ik.imagekit.io/webtactics/changs/recipes/mongolian-lamb-noodles/mongolian-lamb-noodles-1.jpg" alt="{{ title }}-{{ image.alt }}" title="{{ image.alt }}" data-title="{{ image.alt }}" data-lightbox="treatments">
<img src="https://ik.imagekit.io/webtactics/changs/recipes/mongolian-lamb-noodles/mongolian-lamb-noodles-1.jpg?tr=w-300,h-300,q-70,pr-true" alt="{{ title }}-{{ image.alt }}" title="{{ title }}-{{ image.alt }}"></a>
</div>

<div class="img">
<a class="group" href="https://ik.imagekit.io/webtactics/changs/recipes/mongolian-lamb-noodles/mongolian-lamb-noodles-2.jpg" alt="{{ title }}-{{ image.alt }}" title="{{ image.alt }}" data-title="{{ image.alt }}" data-lightbox="treatments">
<img src="https://ik.imagekit.io/webtactics/changs/recipes/mongolian-lamb-noodles/mongolian-lamb-noodles-2.jpg?tr=w-300,h-300,q-70,pr-true" alt="{{ title }}-{{ image.alt }}" title="{{ title }}-{{ image.alt }}"></a>
</div>

<div class="img">
<a class="group" href="https://ik.imagekit.io/webtactics/changs/recipes/mongolian-lamb-noodles/mongolian-lamb-noodles-3.jpg" alt="{{ title }}-{{ image.alt }}" title="{{ image.alt }}" data-title="{{ image.alt }}" data-lightbox="treatments">
<img src="https://ik.imagekit.io/webtactics/changs/recipes/mongolian-lamb-noodles/mongolian-lamb-noodles-3.jpg?tr=w-300,h-300,q-70,pr-true" alt="{{ title }}-{{ image.alt }}" title="{{ title }}-{{ image.alt }}"></a>
</div>

<div class="img">
    <a class="group" href="https://ik.imagekit.io/webtactics/changs/recipes/mongolian-lamb-noodles/mongolian-lamb-noodles-landscape-3.jpg" alt="{{ title }}-{{ image.alt }}" title="{{ image.alt }}" data-title="{{ image.alt }}" data-lightbox="treatments">
    <img src="https://ik.imagekit.io/webtactics/changs/recipes/mongolian-lamb-noodles/mongolian-lamb-noodles-landscape-3.jpg?tr=w-300,h-300,q-70,pr-true" alt="{{ title }}-{{ image.alt }}" title="{{ title }}-{{ image.alt }}"></a>
    </div>
</div>