 
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="closed">&times;</span>
      <h2>Central Station Search Section</h2>
    </div>
    <div class="modal-body">
<p>Search our releases section only - looking for a particular album or artist, try here.</p>
</br></br>
<p>This search field queries the whole website, text etc</p>

    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>
</div>
<!-- end Modal -->

