<section class="footer"><div class="footerwrap">
    
    
    
    
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 footertext">
        <div class="footerlogo">
        <a href="/"><img src="https://www.changs.com/uploads/tpl-buddy-011/img/changs-logo-new-220x69.png" alt="Chang's Authentic Asian Cooking Est 1968" title="Chang's Authentic Asian Cooking Est 1968" width="144" height="40"></a></div>
        <p>© Copyright 2004-2023  - Chang's Authentic Asian Cooking Est 1968</p>          
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 footersocial text-right"> 
        <h3>Follow us</h3></div>      
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3"> 
        <a class="social-icon instagram" href="https://instagram.com/ChangsAsianFood/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a class="social-icon google" href="https://www.youtube.com/user/ChangsTV" target="_blank"><i class="fa fa-youtube-square"></i></a>
        <a class="social-icon facebook" href="https://www.facebook.com/changsasianfood" target="_blank"><i class="fa fa-facebook-square"></i></a>
        </div> 
        </div>
        <div class="row">
        <div class="col-sm-12 text-right"> 
        <div class="footertext">
        <p><a href="/why-changs">About</a> | <a href="#myModal" data-toggle="modal" data-target="#myModal" id="myBtn">Join Chang's Gang</a> | <a href="/changstv">Chang's TV</a> | <a href="/contact">Contact</a> | <a href="/admin">Site Admin</a></p></div></div></div>
        </div>
        </div>


<a class="scrollToTop" style="display: inline;" href="#">Scroll To Top</a>
</div>
</section>

