<header id="header" class="topbar headerwrapper">
<div class="hamburger"><div class="toggle-nav" aria-label="Toggle Navigation"><span class="hamburger-icon"></span>
<span class="title-bar-title">Menu</span>
</div></div>
<div class="logo"><a href="/" title="Return to the homepage | Chang's Flavours of Asia" id="logo">
<img src="/img/changs-logo-200x83.jpg" alt="Chang's Flavours of Asia" title="Chang's Flavours of Asia">
 </a></div>
<div class="navwrapper">
{% include "components/nav-top.njk" %}
</div>
<div class="socialwrapper">
<ul class="menusocial">
<li><a title="Follow Chang's Flavours of Asia on Facebook" href="https://www.facebook.com/changsasianfood" target="_blank"> <img src="https://ik.imagekit.io/webtactics/gtm/assets/facebook-50x50_xSfiXGDeZ.png?tr=w-34,h-34" alt="Follow Chang's Flavours of Asia on Facebook" title="Follow Chang's Flavours of Asia on Facebook"></a></li>
<li><a title="Follow Chang's Flavours of Asia on Facebook" href="https://www.facebook.com/changsasianfood" target="_blank"> <img src="https://ik.imagekit.io/webtactics/gtm/assets/facebook-50x50_xSfiXGDeZ.png?tr=w-34,h-34" alt="Follow Chang's Flavours of Asia on Facebook" title="Follow Chang's Flavours of Asia on Facebook"></a></li>
<li><a title="Follow Chang's Flavours of Asia on Facebook" href="https://www.facebook.com/changsasianfood" target="_blank"> <img src="https://ik.imagekit.io/webtactics/gtm/assets/facebook-50x50_xSfiXGDeZ.png?tr=w-34,h-34" alt="Follow Chang's Flavours of Asia on Facebook" title="Follow Chang's Flavours of Asia on Facebook"></a></li>




</ul>
</div>
</header>