<head>
<meta property="og:url" content="https://www.changs.com{{ page.url or post.url or permalink }}" />
<meta charset="utf-8">
<meta name="generator" content="{{ eleventy.generator }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="apple-touch-icon" sizes="180x180" href="https://www.changs.com/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://www.changs.com/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://www.changs.com/favicon-16x16.png">
<link rel="manifest" href="https://www.changs.com/site.webmanifest">
<link rel="mask-icon" href="https://www.changs.com/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


<title>{{ metatitle or title or metadata.title }}</title>

<meta property="og:title" content="{{ metatitle or title or metadata.title }}" />
<meta property="og:description" content="{{ description or metadata.description or eleventyComputed.description }}" />
<meta property="og:image" content="{{ image or metadata.image or eleventyComputed.image }}" />
<meta property="og:url" content="https://www.changs.com{{ page.url or post.url or permalink }}" />


{% set css %}
 {% include "assets/css/changs.css" %}
 {% include "assets/css/slick.css" %}
  {% include "assets/css/lightbox-gallery.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Trocchi&display=swap" rel="stylesheet"> 


  {# Uncomment below if you want to include minified inline JavaScript #}
  {# {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script> #}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />



</head>
