  <section class="sliderbox hide-for-print">
  <div class="hero" style="background: url(https://ik.imagekit.io/webtactics/changs-media/tr:w-1600,h-800,f-auto/slider/Mongolian-Lamb-Noodles-landscape-1600x800_wr5Ca0XEl.jpg?updatedAt=1685410886795) no-repeat center center;width:100%; background-size:cover;position: relative;"></div> 
 </section>