<section class="sliderbox hide-for-print">
<div class="home-slide hide-for-print">
<div class="hero" style="background: url(https://ik.imagekit.io/webtactics/changs/tr:w-1600,h-800,f-auto/images/slider/Rainbow-Rocky-Road-Landscape-2-1600x800.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
<div class="hero" style="background: url(https://ik.imagekit.io/webtactics/changs/tr:w-1600,h-800,f-auto/images/slider/oriental-fried-noodle-salad.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
</div>
</section>

