  <section class="sliderbox hide-for-print">
  <div class="hero" style="background: url(https://ik.imagekit.io/webtactics/changs-media/tr:w-1600,h-800,f-auto/slider/oriental-fried-noodle-salad-1600x800_FXG9u70R5.jpg?updatedAt=1685410661070) no-repeat center center;width:100%; background-size:cover;position: relative;"></div> 
 </section>
