<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


{% set js %}
{% include "assets/js/slick.min.js" %}
{% include "assets/js/lightbox.js" %}
{% include "assets/js/script.js" %}
{% include "assets/js/home.slide.js" %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>
