<div class="accordianNav">
<ul class="off-canvas-list">

		<li>
			<h3><a href="#">Normal Link</a></h3></li>
		<li> 
			<h3><a href="#">Normal Link</a></h3></li>

		<li>
    <h3 class="dropArrow"><span>Dropdown</span></h3>
			<ul>
				<li><a href="#">Dropped Link</a></li>
				<li><a href="#">Dropped Link</a></li> 
				<li><a href="#">Dropped Link</a></li>
				<li><a href="#">Dropped Link</a></li>
			</ul>
		</li>

		<li>
			<h3 class="dropArrow"><span>Dropdown</span></h3>
			<ul>
				<li><a href="#">Dropped Link</a></li>
				<li><a href="#">Dropped Link</a></li>
			</ul>
		</li>

		<li>
			<h3 class="dropArrow"><span>Dropdown</span></h3>
			<ul>
				<li><a href="#">Dropped Link</a></li>
				<li><a href="#">Dropped Link</a></li>
				<li><a href="#">Dropped Link</a></li>
			</ul>
		</li>

		<li>
			<h3><a href="#">Normal Link</a></h3></li>
	</ul>
</div>