{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
<li{% if entry.url == page.url %} class="active-class"{% endif %}>
  <a href="{{ entry.url }}" title="{{ entry.title }}" alt="{{ page.title }}">{{ entry.title }}</a>
      {% if entry.url == "/recipes/" %}

 <div class="accordion">
    <input type="checkbox" id="accordion-1" />
    <label for="accordion-1">Recipes</label>
    <div>
      <ul class="second">
       <li>
          <a href="/recipes/main-ingredients/vegetarian/" title="Vegetarian Recipes" alt="Vegetarian Recipes">Vegetarian Recipes</a>
        </li>
        <li>
          <a href="/recipes/main-ingredients/noodles-ingredients/" title="Noodles Recipes" alt="Noodles Recipes">Noodles Recipes</a>
        </li>
        <li>
          <a href="/recipes/main-ingredients/seafood/" title="Seafood Recipes" alt="Seafood Recipes">Seafood Recipes</a>
        </li>
        <li>
          <a href="/recipes/main-ingredients/poultry-based-recipes/" title="Poultry Recipes" alt="Poultry Recipes">Poultry Recipes</a>
        </li>
          <li>
          <a href="/recipes/main-ingredients/pork/" title="Pork Recipes" alt="Pork Recipes">Pork Recipes</a>
        </li>
          <li>
          <a href="/recipes/main-ingredients/lamb/" title="Lamb Recipes" alt="Lamb Recipes">Lamb Recipes</a>
        </li>
          <li>
          <a href="/recipes/main-ingredients/beef/" title="Beef Recipes" alt="Beef Recipes">Beef Recipes</a>
        </li>
        </ul>
    </div>
  </div>

  <div class="accordion">
    <input type="checkbox" id="accordion-2" />
    <label for="accordion-2">Section 2</label>
    <div>
      <p>This is the content of Section 2.</p>
    </div>
  </div>

  <div class="accordion">
    <input type="checkbox" id="accordion-3" />
    <label for="accordion-3">Section 3</label>
    <div>
      <p>This is the content of Section 3.</p>
    </div>
  </div>











    {% endif %}
{%- if entry.children.length -%}
<ul class="second">
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{%- endmacro %}

<ul class="off-canvas-list">
<li><a href="/" title="Home" alt="Home">Home</a></li>
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
<li><a href="/contact/" title="Contact" alt="Contact">Contact</a></li>
</ul>