
<section class="grid-4-columns" >
{% for post in postslist | reverse %}
<div class="NewsSummaryHome">
<article{% if post.url == url %} data-current="current item"{% endif %} >
			
	

<div class="postsummarywrapper">
<a href="{{ post.url | url }}"><img src="{{ post.data.image }}/tr:w-400,h-400" alt="{{ post.data.imageAlt }}" title="{{ post.data.imageAlt }}" >
<span class="image-overlay">
<span class="overlay-icon"><img src="https://ik.imagekit.io/webtactics/accesspr/images/assets/Access-key-100x100.png" /></span></span></a>
</div>


<div class="NewsSummaryLinkHome">
<h2><a href="{{ post.url | url }}" title="{{ post.data.title }}" alt="{{ post.data.title }}">{{ post.data.title }}</a></h2>
</div>

				

<div class="prodpostsumsumdefault">
{% if post.data.description %}
<p class="postsumhome">{{ post.data.description }}</p>
{% endif %}
</div>

<div class="newssumbutton">
<div class="NewsroomMore"><a href="{{ post.url | url }}" title="{{ post.data.title }}" class="button-56"><span>More </span></a></div>
</div>



</article>
</div>
{% endfor %}
</section>