<!-- items -->
{% for post in postslist | reverse %}

<div class="pricesumpic">
<a href="{{ post.url | url }}"><img src="{{ post.data.image }}/tr:w-300,h-300" alt="{{ post.data.imageAlt }}" title="{{ post.data.imageAlt }}" ></a>
</div>


<div class="pricelistsum">
<h3><a href="{{ post.url | url }}" title="{{ post.data.title }}">{{ post.data.title }}</a></h3>
</div>


{% endfor %}
<!-- /items -->


