<div class="productname">
{% for post in productname %}
<div class="divwrapper">
{% set postslist = collections[productname] %}
{% include "components/postslist-products.html" %}
</div>
{% endfor %}
</div>