<div class="photo-gallery grid-5-columns">
{% for item in productname %}
<div class="img">
{% set postslist = collections[productname] %}
{% include "components/postslist-products.html" %}
</div>
{% endfor %}
</div>