---
layout: layouts/default.njk

---


 <div class="grid-2-columns-3x1">

<div class="content">
{{ content | safe }}
</div>


<div class="contentsidebar">
<aside>

{% if page.url == "/why-changs/" %}
<div id="menu_vert">
    <ul class="internal-nav">
    <li><a href="https://www.changs.com/why-changs/sustainability/" title="Sustainability" alt="Sustainability">Sustainability</a></li>
    <li><a href="https://www.changs.com/why-changs/privacy-policy/" title="Privacy Policy" alt="Privacy Policy">Privacy Policy</a></li>
    </ul>
    </div>
{% elseif page.url == "/changstv/" %}
<div id="menu_vert">
    <ul class="internal-nav">
    <li><a href="/products/" title="Products" alt="Products">Products</a></li>
    <li><a href="/recipes/" title="Recipes" alt="Recipes">Recipes</a></li>
    </ul>
    </div>
{% else %}
{% include "components/nav-side.njk" %}
{% endif %}

{% include "components/global/email-sidebar.html" %}
</aside>
</div>
</div>


