{% extends "layouts/default.njk" %}

{% block hero %}
{% include "components/hero.njk" %}
{% endblock %}




{% block content %}
<section role="main" class="content-detail">  
<h1>{{ title  }}</h1>
{{ layoutContent | safe }}
</section>
{% endblock %}