---
layout: layouts/detail.njk
section: post
---


 <div class="grid-2-columns-3x1">
 <div class="detailwrapper">
<article>

<div class="item blogdetail">

<div class="blogdetailimage" align="center"><img src="{{ image }}?tr=w-800,h-1200" alt="{{ imageAlt }}" title="{{ imageAlt }}"></div>
<div class="detailcontent">    
{{ content | safe }}
</div>



{% if video %}
<div class="video">
<h3>Making {{ title }} in 30 seconds!</h3>
<div style="position: relative; padding-top: 100%;">
<iframe src="{{ video }}" loading="lazy" style="border: none; position: absolute; top: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>
</div>
</div>
{% endif %}

{% if imageFolders %}
<div class="gallery">
{% include "components/gallery.njk" %}
</div>
{% endif %}

{% if tags %}
  <div class="tag"><h4>Tags</h4>
  <ul>
{% for tag in tags %}
  {%- if tag != "post" -%}
    {% set tagUrl %}/tagged/{{ tag }}/{% endset %}
   <li><a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a></li>
  {%- endif -%}
{% endfor %}
  </ul>
</div>
{% endif %}
  
  
</div>
</article>
</div>
<div class="detailsidebar">
<aside>


{% if ChangsChineseBlackPepperSauce %}
<div class="sidebarwrapper2">
<h3>ChangsChineseBlackPepperSauce</h3>
{% set postslist = collections['Changs-Chinese-Black-Pepper-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsCrunchyFriedNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsCrunchyFriedNoodles</h3>
{% set postslist = collections['Changs-Crunchy-Fried-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsDeliciousMongolianStyleStirFrySauce %}
<div class="sidebarwrapper2">
<h3>ChangsDeliciousMongolianStyleStirFrySauce</h3>
{% set postslist = collections['Changs-Delicious-Mongolian-Style-Stir-Fry-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsEggNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsEggNoodles</h3>
{% set postslist = collections['Changs-Egg-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsFishSauce %}
<div class="sidebarwrapper2">
<h3>ChangsFishSauce</h3>
{% set postslist = collections['Changs-Fish-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsGlutenFreeFriedNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsGlutenFreeFriedNoodles</h3>
{% set postslist = collections['Changs-Gluten-Free-Fried-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}


{% if ChangsHoisinSauce %}
<div class="sidebarwrapper2">
<h3>ChangsHoisinSauce</h3>
{% set postslist = collections['Changs-Hoisin-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsHokkienStyleShelfFreshNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsHokkienStyleShelfFreshNoodles</h3>
{% set postslist = collections['Changs-Hokkien-Style-Shelf-Fresh-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}


{% if ChangsJapanesePonzuSauce %}
<div class="sidebarwrapper2">
<h3>ChangsJapanesePonzuSauce</h3>
{% set postslist = collections['Changs-Japanese-Ponzu-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}


{% if ChangsJapaneseTeriyakiSauce %}
<div class="sidebarwrapper2">
<h3>ChangsJapaneseTeriyakiSauce</h3>
{% set postslist = collections['Changs-Japanese-Teriyaki-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}


{% if ChangsJapaneseTonkatsuSauce %}
<div class="sidebarwrapper2">
<h3>ChangsJapaneseTonkatsuSauce</h3>
{% set postslist = collections['Changs-Japanese-Tonkatsu-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}


{% if ChangsJapaneseYakitoriSauce %}
<div class="sidebarwrapper2">
<h3>ChangsJapaneseYakitoriSauce</h3>
{% set postslist = collections['Changs-Japanese-Yakitori-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsKecapManisSweetSoySauce %}
<div class="sidebarwrapper2">
<h3>ChangsKecapManisSweetSoySauce</h3>
{% set postslist = collections['Changs-Kecap-Manis-Sweet-Soy-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsLongLifeNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsLongLifeNoodles</h3>
{% set postslist = collections['ChangsLongLifeNoodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsMasterStock %}
<div class="sidebarwrapper2">
<h3>ChangsMasterStock</h3>
{% set postslist = collections['Changs-Master-Stock'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}


{% if ChangsOrganicRamenNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsOrganicRamenNoodles</h3>
{% set postslist = collections['Changs-Organic-Ramen-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}


{% if ChangsOrganicSobaNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsOrganicSobaNoodles</h3>
{% set postslist = collections['Changs-Organic-Soba-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsOriginalBlackBeanSauce %}
<div class="sidebarwrapper2">
<h3>ChangsOriginalBlackBeanSauce</h3>
{% set postslist = collections['Changs-Original-Black-Bean-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsOriginalChineseSateSauce %}
<div class="sidebarwrapper2">
<h3>ChangsOriginalChineseSateSauce</h3>
{% set postslist = collections['Changs-Original-Chinese-Sate-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsOriginalFishSauce %} 
<div class="sidebarwrapper2">
<h3>ChangsOriginalFishSauce</h3>
{% set postslist = collections['Changs-Original-Fish-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsOriginalFriedNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsOriginalFriedNoodles</h3>
{% set postslist = collections['Changs-Original-Fried-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsOriginalHoisinSauce %}
<div class="sidebarwrapper2">
<h3>ChangsOriginalHoisinSauce</h3>
{% set postslist = collections['Changs-Original-Hoisin-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsOriginalHotChilliSauce %}
<div class="sidebarwrapper2">
<h3>ChangsOriginalHotChilliSauce</h3>
{% set postslist = collections['Changs-Original-Hot-Chilli-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsOriginalOysterSauce %}
<div class="sidebarwrapper2">
<h3>ChangsOriginalOysterSauce</h3>
{% set postslist = collections['Changs-Original-Oyster-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsSavouryBlackBeanStirFrySauce %}
<div class="sidebarwrapper2">
<h3>ChangsSavouryBlackBeanStirFrySauce</h3>
{% set postslist = collections['Changs-Savoury-Black-Bean-Stir-Fry-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}


{% if ChangsSesameOil %}
<div class="sidebarwrapper2">
<h3>ChangsSesameOil</h3>
{% set postslist = collections['Changs-Sesame-Oil'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsSoySauceDark %}
<div class="sidebarwrapper2">
<h3>ChangsSoySauceDark</h3>
{% set postslist = collections['Changs-Soy-Sauce-Dark'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsSoySauceLight %}
<div class="sidebarwrapper2">
<h3>ChangsSoySauceLight</h3>
{% set postslist = collections['Changs-Soy-Sauce-Light'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsSpicySichuanStyleStirFrySauce %}
<div class="sidebarwrapper2">
<h3>ChangsSpicySichuanStyleStirFrySauce</h3>
{% set postslist = collections['Changs-Spicy-Sichuan-Style-Stir-Fry-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsSweetManchurianStirFrySauce %}
<div class="sidebarwrapper2">
<h3>ChangsSweetManchurianStirFrySauce</h3>
{% set postslist = collections['Changs-Sweet-Manchurian-Stir-Fry-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsTamariBlackBeanSauce %}
<div class="sidebarwrapper2">
<h3>ChangsTamariBlackBeanSauce</h3>
{% set postslist = collections['Changs-Tamari-Black-Bean-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsTamariHoisinSauce %}
<div class="sidebarwrapper2">
<h3>ChangsTamariHoisinSauce</h3>
{% set postslist = collections['Changs-Tamari-Hoisin-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}


{% if ChangsTamariLightSoySauce %}
<div class="sidebarwrapper2">
<h3>ChangsTamariLightSoySauce</h3>
{% set postslist = collections['Changs-Tamari-Light-Soy-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsTamariOysterSauce %}
<div class="sidebarwrapper2">
<h3>ChangsTamariOysterSauce</h3>
{% set postslist = collections['Changs-Tamari-Oyster-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsTastySichuanStyleStirFrySauce %}
<div class="sidebarwrapper2">
<h3>ChangsTastySichuanStyleStirFrySauce</h3>
{% set postslist = collections['Changs-Tasty-Sichuan-Style-Stir-Fry-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsThaiStyleRiceNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsThaiStyleRiceNoodles</h3>
{% set postslist = collections['Changs-Thai-Style-Rice-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsTraditionalSuperLoCalNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsTraditionalSuperLoCalNoodles</h3>
{% set postslist = collections['Changs-Traditional-Super-Lo-Cal-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsVermicelliRiceNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsVermicelliRiceNoodles</h3>
{% set postslist = collections['Changs-Vermicelli-Rice-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsWokReadyNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsWokReadyNoodles</h3>
{% set postslist = collections['Changs-Wok-Ready-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}





  
  </aside>
</div>
</div>


