---
layout: layouts/detail-products.njk
section: post
---


 <div class="grid-2-columns-2x1">
 <div class="detailwrapper">
<article>


<div class="item blogdetail">
<h1 class="heading-text">{{ title }}</h1>
{% if GTIN %}<div class="timecostwrapper"><span class="timecostmin">GTIN:</span>{{ GTIN }}</div>{% endif %}

<div class="blogdetailimage" align="center"><img src="{{ image }}/tr:w-1000,h-1000" alt="{{ imageAlt }}" title="{{ imageAlt }}"></div>
<div class="detailcontent">     
{{ layoutContent | safe }}</div>

{{ productname }}



{% if CrunchyFriedNoodles %}
<h3>CrunchyFriedNoodles</h3>
{% include "components/products/crunchy-fried-noodles.njk" %}
{% endif %}
 
 {% if HokkienNoodles %}
<h3>HokkienNoodles</h3>
{% include "components/products/hokkien-noodles.njk" %}
{% endif %}
  
 {% if OriginalHoisinSauce %}
<h3>OriginalHoisinSauce</h3>
{% include "components/products/original-hoisin-sauce.njk" %}
{% endif %}

 {% if OriginalOysterSauce %}
<h3>OriginalOysterSauce</h3>
{% include "components/products/original-oyster-sauce.njk" %}
{% endif %}

 {% if SesameOil %}
<h3>SesameOil</h3>
{% include "components/products/sesame-oil.njk" %}
{% endif %}

 {% if SoySauceLight %}
<h3>SoySauceLight</h3>
{% include "components/products/soy-sauce-light.njk" %}
{% endif %}


 {% if SoySauceDark %}
<h3>SoySauceDark</h3>
{% include "components/products/soy-sauce-dark.njk" %}
{% endif %}

 {% if TamariLightSoySauce %}
<h3>TamariLightSoySauce</h3>
{% include "components/products/tamari-light-soy-sauce.njk" %}
{% endif %}

 {% if TamariOysterSauce %}
<h3>TamariOysterSauce</h3>
{% include "components/products/tamari-oyster-sauce.njk" %}
{% endif %}

 {% if VermicelliRiceNoodles %}
<h3>VermicelliRiceNoodles</h3>
{% include "components/products/vermicelli-rice-noodles.njk" %}
{% endif %}

 {% if WokReadyNoodles %}
<h3>WokReadyNoodles 1</h3>
{% include "components/products/wok-ready-noodles.njk" %}

<h3>WokReadyNoodles 2</h3>
{% set postslist = collections['wok-ready-noodles'] %}
{% include "components/postslist-products.html" %}
{% endif %}

{% set postslist = collections['Featured'] %}
  {% include "components/postslist-sidebar.njk" %}

<h3>WokReadyNoodles 3</h3>
{% set postslist = collections['wok-ready-noodles'] %}
{% include "components/postslist-products.html" %}





 <div class="NewsSummaryPrice detail"> 
 <h4>Pricing</h4>
<div class="grid-timecost"> 
{% if time30 %}<div class="timecostwrapper"><span class="timecostmin">30 min:</span>{{ time30 }}</div>{% endif %}
{% if time45 %}<div class="timecostwrapper"><span class="timecostmin">45 min:</span>{{ time45 }}</div>{% endif %}
{% if time60 %}<div class="timecostwrapper"><span class="timecostmin">60 min:</span>{{ time60 }}</div>{% endif %}
{% if time90 %}<div class="timecostwrapper"><span class="timecostmin">90 min:</span>{{ time90 }}</div>{% endif %}
{% if time120 %}<div class="timecostwrapper"><span class="timecostmin">120 min:</span>{{ time120 }}</div>{% endif %}
</div>	</div>	

 <div class="gallery">
{% include "components/gallery.njk" %}
</div>










<a class="button blogdetail" href="/booking/" class="return-link">Make a booking</a>    
  
<a class="button blogdetail right" href="/treatments/" class="return-link">Return to the Treatments page</a>    
</div>
</article>
</div>
<div class="sidebarwrapper">
<aside>{% set postslist = collections['recipes'] %}{% include "components/postslist-sidebar.njk" %}</aside>
</div>
</div>

