---
layout: layouts/detail.njk
section: post
---


 <div class="grid-2-columns-2x1">
 <div class="detailwrapper">
<article>


<div class="item blogdetail">
<h1 class="heading-text">{{ title }}</h1>


<div class="blogdetailimage" align="center"><img src="{{ image }}?tr=w-800,h-1200" alt="{{ imageAlt }}" title="{{ imageAlt }}"></div>
<div class="detailcontent">     
{{ layoutContent | safe }}</div>


 <div class="NewsSummaryPrice detail"> 
 <h4>Pricing</h4>
<div class="grid-timecost"> 
{% if time30 %}<div class="timecostwrapper"><span class="timecostmin">30 min:</span>{{ time30 }}</div>{% endif %}
{% if time45 %}<div class="timecostwrapper"><span class="timecostmin">45 min:</span>{{ time45 }}</div>{% endif %}
{% if time60 %}<div class="timecostwrapper"><span class="timecostmin">60 min:</span>{{ time60 }}</div>{% endif %}
{% if time90 %}<div class="timecostwrapper"><span class="timecostmin">90 min:</span>{{ time90 }}</div>{% endif %}
{% if time120 %}<div class="timecostwrapper"><span class="timecostmin">120 min:</span>{{ time120 }}</div>{% endif %}
</div>	</div>	


{% if video %}
<div class="video">
<h3>Making {{ title }} in 30 seconds!</h3>
<div style="position: relative; padding-top: 100%;">
<iframe src="{{ video }}" loading="lazy" style="border: none; position: absolute; top: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>
</div>
</div>
{% endif %}





 
  
  
</div>
</article>
</div>
<div class="sidebarwrapper">
<aside>



  {% if prodTamariLightSoySauce %}
  <h3>tamari-light-soy-sauce</h3>
{% set postslist = collections['{{ prodTamariLightSoySauce }}'] %}
{% include "components/postslist.njk" %}
  {% endif %}
  
  
  <div class="sidebarwrapper2">
{% set postslist = collections['tamari-light-soy-sauce'] %}
  {% include "components/postslist-sidebar.njk" %}
  </div>
  
  {% if prodSesameOil %}{% include "components/products/{{ sesame-oil }}.html" %}{% endif %}
  
  </aside>
</div>
</div>


  {% if tags %}
    <div class="NewsSummaryPrice detail"><h4>Tags</h4>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/treatments/{{ tag }}/{% endset %}
       <div class="tag"><a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a></div>
      {%- endif -%}
    {% endfor %}
    </div>
  {% endif %}