---
layout: layouts/detail.njk
section: post
---


 <div class="grid-2-columns-3x1">
 <div class="detailwrapper">
<article>

<div class="item blogdetail">

<div class="blogdetailimage" align="center"><img src="{{ image }}?tr=w-800,h-1200" alt="{{ imageAlt }}" title="{{ imageAlt }}"></div>
<div class="detailcontent">    
{{ layoutContent | safe }}
</div>



{% if video %}
<div class="video">
<h3>Making {{ title }} in 30 seconds!</h3>
<div style="position: relative; padding-top: 100%;">
<iframe src="{{ video }}" loading="lazy" style="border: none; position: absolute; top: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>
</div>
</div>
{% endif %}

{% if imageFolders %}
<div class="gallery">
{% include "components/gallery.njk" %}
</div>
{% endif %}

{% if tags %}
  <div class="tag"><h4>Tags</h4>
  <ul>
{% for tag in tags %}
  {%- if tag != "post" -%}
    {% set tagUrl %}/tagged/{{ tag }}/{% endset %}
   <li><a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a></li>
  {%- endif -%}
{% endfor %}
  </ul>
</div>
{% endif %}
  
  
</div>
</article>
</div>
<div class="detailsidebar">
<aside>




{% if ChangsChineseBlackPepperSauce %}
<div class="sidebarwrapper2">
<h3>ChangsChineseBlackPepperSauce</h3>
{% set postslist = collections['Changs-Chinese-Black-Pepper-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsCrunchyFriedNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsCrunchyFriedNoodles</h3>
{% set postslist = collections['Changs-Crunchy-Fried-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsDeliciousMongolianStyleStirFrySauce %}
<div class="sidebarwrapper2">
<h3>ChangsDeliciousMongolianStyleStirFrySauce</h3>
{% set postslist = collections['Changs-Delicious-Mongolian-Style-Stir-Fry-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsEggNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsEggNoodles</h3>
{% set postslist = collections['Changs-Egg-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsFishSauce %}
<div class="sidebarwrapper2">
<h3>ChangsFishSauce</h3>
{% set postslist = collections['Changs-Fish-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsGlutenFreeFriedNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsGlutenFreeFriedNoodles</h3>
{% set postslist = collections['Changs-Gluten-Free-Fried-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}


{% if ChangsHoisinSauce %}
<div class="sidebarwrapper2">
<h3>ChangsHoisinSauce</h3>
{% set postslist = collections['Changs-Hoisin-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsHokkienStyleShelfFreshNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsHokkienStyleShelfFreshNoodles</h3>
{% set postslist = collections['Changs-Hokkien-Style-Shelf-Fresh-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}



















ChangsEggNoodles
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsFishSauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsGlutenFreeFriedNoodles
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsHoisinSauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsHokkienStyleShelfFreshNoodles
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsJapanesePonzuSauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsJapaneseTeriyakiSauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsJapaneseTonkatsuSauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsJapaneseYakitoriSauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsKecapManisSweetSoySauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsLongLifeNoodles
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsMasterStock
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsOrganicRamenNoodles
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsOrganicSobaNoodles
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsOriginalBlackBeanSauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsOriginalChineseSateSauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsOriginalFishSauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsOriginalFriedNoodles
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsOriginalHoisinSauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsOriginalHotChilliSauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsOriginalOysterSauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsSavouryBlackBeanStirFrySauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsSesameOil
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsSoySauceDark
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsSoySauceLight
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsSpicySichuanStyleStirFrySauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsSweetManchurianStirFrySauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsTamariBlackBeanSauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsTamariHoisinSauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsTamariLightSoySauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsTamariOysterSauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
ChangsTastySichuanStyleStirFrySauce
{% if ChangsCrispyNoodleSaladDressing %}
<div class="sidebarwrapper2">
<h3>ChangsCrispyNoodleSaladDressing</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsThaiStyleRiceNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsThaiStyleRiceNoodles</h3>
{% set postslist = collections['Changs-Thai-Style-Rice-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsTraditionalSuperLoCalNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsTraditionalSuperLoCalNoodles</h3>
{% set postslist = collections['Changs-Traditional-Super-Lo-Cal-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsVermicelliRiceNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsVermicelliRiceNoodles</h3>
{% set postslist = collections['Changs-Vermicelli-Rice-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}

{% if ChangsWokReadyNoodles %}
<div class="sidebarwrapper2">
<h3>ChangsWokReadyNoodles</h3>
{% set postslist = collections['Changs-Wok-Ready-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
















{% if ChangsChineseBlackPepperSauce %}
<div class="sidebarwrapper2">
<h3>ChangsChineseBlackPepperSauce</h3>
{% set postslist = collections['Changs-Chinese-Black-Pepper-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
    
{% if ChangsTamariHoisinSauce %}
<div class="sidebarwrapper2">
<h3>ChangsTamariHoisinSauce</h3>
{% set postslist = collections['Changs-Chinese-Black-Pepper-Sauce'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
{% if ChangsTamariOysterSauce %}
<div class="sidebarwrapper2">
<h3>ChangsTamariOysterSauce</h3>
{% set postslist = collections['Changs-Wok-Ready-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}
{% if ChangsTamariLightSoySauce %}
<div class="sidebarwrapper2">
<h3>ChangsTamariLightSoySauce</h3>
{% set postslist = collections['Changs-Wok-Ready-Noodles'] %}
  {% include "components/postslist-products-in-recipes-sidebar.njk" %}
</div>
{% endif %}















  
  </aside>
</div>
</div>


