---
layout: layouts/detail.njk
section: post
---


 <div class="grid-2-columns-3x1">
 <div class="detailwrapper">
<article>


<div class="item blogdetail">
<div class="blogdetailimage" align="center"><img src="{{ image }}?tr=w-800,h-800" alt="{{ imageAlt }}" title="{{ imageAlt }}"></div>
{% if GTIN %}<div class="timecostwrapper"><span class="timecostmin">GTIN:</span>{{ GTIN }}</div>{% endif %}
<div class="detailcontent">     
{{ layoutContent | safe }}</div>

{{ productname }}



{% if CrunchyFriedNoodles %}
<h3>CrunchyFriedNoodles</h3>
{% include "components/products/crunchy-fried-noodles.njk" %}
{% elif HokkienNoodles %}
<h3>HokkienNoodles</h3>
{% include "components/products/hokkien-noodles.njk" %}
{% elif OriginalFriedNoodles %}
<h3>OriginalFriedNoodles</h3>
{% include "components/products/original-fried-noodles.njk" %}
{% elif OriginalHoisinSauce %}
<h3>OriginalHoisinSauce</h3>
{% include "components/products/original-hoisin-sauce.njk" %}
{% elif OriginalOysterSauce %}
<h3>OriginalOysterSauce</h3>
{% include "components/products/original-oyster-sauce.njk" %}
{% elif SesameOil %}
<h3>SesameOil</h3>
{% include "components/products/sesame-oil.njk" %}
{% elif SoySauceLight %}
<h3>SoySauceLight</h3>
{% include "components/products/soy-sauce-light.njk" %}
{% elif SoySauceDark %}
<h3>SoySauceDark</h3>
{% include "components/products/soy-sauce-dark.njk" %}
{% elif TamariLightSoySauce %}
<h3>TamariLightSoySauce</h3>
{% include "components/products/tamari-light-soy-sauce.njk" %}
{% elif TamariOysterSauce %}
<h3>TamariOysterSauce</h3>
{% include "components/products/tamari-oyster-sauce.njk" %}
{% elif VermicelliRiceNoodles %}
<h3>VermicelliRiceNoodles</h3>
{% include "components/products/vermicelli-rice-noodles.njk" %}
{% elif WokReadyNoodles %}
<h3>Wok Ready Noodles 1</h3>
{% include "components/products/wok-ready-noodles.html" %}

<h3>WokReadyNoodles 2</h3>
{% set postslist = collections['wok-ready-noodles'] %}
{% include "components/postslist-products.html" %}
{% endif %}




{% set postslist = collections['Featured'] %}
  {% include "components/postslist-sidebar.njk" %}


{% if productname %}
<div class="gallery">
{% include "components/product-recipe-collection.njk" %}
</div>
{% endif %}




 <div class="NewsSummaryPrice detail"> 
 <h4>Pricing</h4>
<div class="grid-timecost"> 
   <div class="sidebarwrapper2">
    <h3>Wok Read Noodles</h3>
{% set postslist = collections['Wok Ready Noodles'] %}
  {% include "components/postslist.njk" %}
  </div>

{% if WokReadyNoodles %}
<h1>WokReadyNoodles</h1>
{% set postslist = collections['wok-ready-noodles'] %}
{% include "components/postslist.njk" %}
{% endif %}

{% if time30 %}<div class="timecostwrapper"><span class="timecostmin">30 min:</span>{{ time30 }}</div>{% endif %}
{% if time45 %}<div class="timecostwrapper"><span class="timecostmin">45 min:</span>{{ time45 }}</div>{% endif %}
{% if time60 %}<div class="timecostwrapper"><span class="timecostmin">60 min:</span>{{ time60 }}</div>{% endif %}
{% if time90 %}<div class="timecostwrapper"><span class="timecostmin">90 min:</span>{{ time90 }}</div>{% endif %}
{% if time120 %}<div class="timecostwrapper"><span class="timecostmin">120 min:</span>{{ time120 }}</div>{% endif %}
</div>	</div>	

{% if galleryimages %}
 <div class="gallery">
{% include "components/gallery-products.njk" %}
</div>










   
</div>
</article>
</div>
<div class="detailsidebar">
<aside>
{% if Changs Wok Ready Noodles %}
<h1>Changs Wok Ready Noodles</h1>
{% set postslist = collections['Changs Wok Ready Noodles'] %}
{% include "components/postslist.njk" %}
{% endif %}


</aside>
</div>
</div>

