---
layout: layouts/detail.njk
section: post
---


 <div class="grid-2-columns-3x1">
 <div class="detailwrapper">
<article>

<div class="item blogdetail">

<div class="blogdetailimage" align="center"><img src="{{ image }}?tr=w-800,h-1200" alt="{{ imageAlt }}" title="{{ imageAlt }}"></div>
<div class="detailcontent">    
{{ layoutContent | safe }}
</div>



{% if video %}
<div class="video">
<h3>Making {{ title }} in 30 seconds!</h3>
<div style="position: relative; padding-top: 100%;">
<iframe src="{{ video }}" loading="lazy" style="border: none; position: absolute; top: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>
</div>
</div>
{% endif %}

{% if imageFolders %}
<div class="gallery">
{% include "components/gallery.njk" %}
</div>
{% endif %}

{% if tags %}
  <div class="tag"><h4>Tags</h4>
  <ul>
{% for tag in tags %}
  {%- if tag != "post" -%}
    {% set tagUrl %}/tagged/{{ tag }}/{% endset %}
   <li><a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a></li>
  {%- endif -%}
{% endfor %}
  </ul>
</div>
{% endif %}
  
  
</div>
</article>
</div>
<div class="sidebarwrapper">
<aside>

{% if "Changs Chinese Black Pepper Sauce" %}
<div class="sidebarwrapper2">
<h3>"Changs Chinese Black Pepper Sauce"</h3>
{% set postslist = collections['Changs-Chinese-Black-Pepper-Sauce'] %}
  {% include "components/postslist-sidebar.njk" %}
</div>
{% endif %}


{% if "Changs Crispy Noodle Salad Dressing" %}
<div class="sidebarwrapper2">
<h3>"Changs Crispy Noodle Salad Dressing"</h3>
{% set postslist = collections['Changs-Crispy-Noodle-Salad-Dressing'] %}
  {% include "components/postslist-sidebar.njk" %}
</div>
{% endif %}

{% if "Changs Crunchy Fried Noodles" %}
<div class="sidebarwrapper2">
<h3>"Changs Crunchy Fried Noodles"</h3>
{% set postslist = collections['Changs-Crunchy-Fried-Noodles'] %}
  {% include "components/postslist-sidebar.njk" %}
</div>
{% endif %}

{% if "Changs Delicious Mongolian Style Stir Fry Sauce" %}
<div class="sidebarwrapper2">
<h3>"Changs Delicious Mongolian Style Stir Fry Sauce"</h3>
{% set postslist = collections['Changs-Delicious-Mongolian-Style-Stir-Fry-Sauce'] %}
  {% include "components/postslist-sidebar.njk" %}
</div>
{% endif %}

{% if "Changs Egg Noodles" %}
<div class="sidebarwrapper2">
<h3>"Changs Egg Noodles"</h3>
{% set postslist = collections['Changs-Egg-Noodles'] %}
  {% include "components/postslist-sidebar.njk" %}
</div>
{% endif %}



{% for post in collections.['Changs-Wok-Ready-Noodles'] %}
  <h2>{{ post.data.title }}</h2>
  {{ post.data.image }}
  <p>{{ post.data.content }}</p>
{% endfor %}

























  
{% if "Changs Wok-Ready Noodles" %}
<div class="sidebarwrapper2">
<h3>"Changs Wok-Ready Noodles"</h3>
{% set postslist = collections['Changs-Wok-Ready-Noodles'] %}
  {% include "components/postslist-sidebar.njk" %}
</div>
{% endif %}




  
  </aside>
</div>
</div>


