---
layout: layouts/detail.njk
section: post
---


 <div class="grid-2-columns-3x1">
 <div class="detailwrapper">
<article>

<div class="item blogdetail">

<div class="blogdetailimage" align="center"><img src="{{ image }}?tr=w-800,h-1200" alt="{{ imageAlt }}" title="{{ imageAlt }}"></div>
<div class="detailcontent">    
{{ layoutContent | safe }}
</div>



{% if video %}
<div class="video">
<h3>Making {{ title }} in 30 seconds!</h3>
<div style="position: relative; padding-top: 100%;">
<iframe src="{{ video }}" loading="lazy" style="border: none; position: absolute; top: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>
</div>
</div>
{% endif %}

{% if imageFolders %}
<div class="gallery">
{% include "components/gallery.njk" %}
</div>
{% endif %}

{% if tags %}
  <div class="tag"><h4>Tags</h4>
  <ul>
{% for tag in tags %}
  {%- if tag != "post" -%}
    {% set tagUrl %}/tagged/{{ tag }}/{% endset %}
   <li><a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a></li>
  {%- endif -%}
{% endfor %}
  </ul>
</div>
{% endif %}
  
  
</div>
</article>
</div>
<div class="sidebarwrapper">
<aside>


{% if CrispyNoodleSaladDressing %}
<h3>CrispyNoodleSaladDressing</h3>
{% include "components/products/crunchy-fried-noodles.njk" %}
{% endif %}
 

{% if CrunchyFriedNoodles %}
<h3>CrunchyFriedNoodles</h3>
{% include "components/products/crunchy-fried-noodles.njk" %}
{% endif %}
 
{% if HokkienNoodles %}
<h3>HokkienNoodles</h3>
{% include "components/products/hokkien-noodles.njk" %}
{% endif %}

{% if GlutenFreeTamariLightSoySauce %}
<h3>GlutenFree<br/>TamariLightSoySauce</h3>
{% include "components/products/hokkien-noodles.njk" %}
{% endif %}

{% if LongLifeNoodles %}
<h3>LongLifeNoodles</h3>
{% include "components/products/hokkien-noodles.njk" %}
{% endif %}

 {% if OriginalFriedNoodles %}
<h3>OriginalFriedNoodles</h3>
{% include "components/products/original-hoisin-sauce.njk" %}
{% endif %}
  
 {% if OriginalHoisinSauce %}
<h3>OriginalHoisinSauce</h3>
{% include "components/products/original-hoisin-sauce.njk" %}
{% endif %}

 {% if OriginalOysterSauce %}
<h3>OriginalOysterSauce</h3>
{% include "components/products/original-oyster-sauce.njk" %}
{% endif %}

 {% if SesameOil %}
<h3>SesameOil</h3>
{% include "components/products/sesame-oil.njk" %}
{% endif %}

 {% if SoySauceLight %}
<h3>SoySauceLight</h3>
{% include "components/products/soy-sauce-light.njk" %}
{% endif %}

 {% if SoySauceDark %}
<h3>SoySauceDark</h3>
{% include "components/products/soy-sauce-dark.njk" %}
{% endif %}

 {% if TamariLightSoySauce %}
<h3>TamariLightSoySauce</h3>
{% include "components/products/tamari-light-soy-sauce.njk" %}
{% endif %}

 {% if TamariOysterSauce %}
<h3>TamariOysterSauce</h3>
{% include "components/products/tamari-oyster-sauce.njk" %}
{% endif %}

 {% if VermicelliRiceNoodles %}
<h3>VermicelliRiceNoodles</h3>
{% include "components/products/vermicelli-rice-noodles.njk" %}
{% endif %}

 {% if WokReadyNoodles %}
{% include "components/products/wok-ready-noodles.njk" %}
{% endif %}

{% if SoySauceLight %}<div><span class="timecostmin">30 min:</span>{{ SoySauceLight }}</div>{% endif %}


  <div class="sidebarwrapper2">
{% set postslist = collections['Featured'] %}
  {% include "components/postslist-sidebar.njk" %}
  </div>
  
{% if "Changs-Wok-Ready-Noodles" %}
<div class="sidebarwrapper2">
<h3>"Changs-Wok-Ready-Noodles"</h3>
{% set postslist = collections['Changs-Wok-Ready-Noodles'] %}
{% include "components/postslist.njk" %}
</div>
{% endif %}

{% if "Changs-Wok-Ready-Noodles" %}
<div class="sidebarwrapper2">
<h3>"Changs-Wok-Ready-Noodles 2"</h3>
{% set postslist = collections['Changs Wok Ready Noodles'] %}
{% include "components/postslist.njk" %}
</div>
{% endif %}

{% if ['Changs-Wok-Ready-Noodles'] %}
<div class="sidebarwrapper2">
<h3>'Changs-Wok-Ready-Noodles'</h3>
{% set postslist = collections['Changs-Wok-Ready-Noodles'] %}
{% include "components/postslist.njk" %}
</div>
{% endif %}
  
  </aside>
</div>
</div>


