---
layout: layouts/default.njk
section: products
class: products
---


{{ layoutContent | safe }}





{% if page.url == "/products/" %}
{% set postslist = collections.products | reverse %}
{% include "components/postslist-prod-summary.njk" %}
{% endif %}

{% if page.url == "/products/noodles/" %}
{% set postslist = collections.Noodles | reverse %}
{% include "components/post-product-default.njk" %}
{% endif %}

{% if page.url == "/products/sauces/" %}
{% set postslist = collections.Sauces| reverse %}
{% include "components/post-product-default.njk" %}
{% endif %}

{% if page.url == "/products/gluten-free-products/" %}
{% set postslist = collections['Gluten Free'] | reverse %}
{% include "components/postslist.njk" %}
{% endif %}

{% if page.url == "/products/tamari-wheat-free-sauces/" %}
{% set postslist = collections.Tamari | reverse %}
{% include "components/postslist.njk" %}
{% endif %}



