---
layout: layouts/default.njk
section: products
class: products
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}


{% set postslist = collections.products %}
{% include "components/postslist.njk" %}