---
layout: layouts/default.njk
section: products
class: products
---


{{ layoutContent | safe }}





{% if page.url == "/products/" %}
{% set postslist = collections.products %}
{% include "components/postslist.njk" %}
{% endif %}

{% if page.url == "/products/noodles/" %}
{% set postslist = collections.Noodles %}
{% include "components/post-product-default.njk" %}
{% endif %}

{% if page.url == "/products/sauces/" %}
{% set postslist = collections.Sauces %}
{% include "components/post-product-default.njk" %}
{% endif %}



{% if page.url == "/products/gluten-free-products/" %}
<h4>Gluten Free</h4>
{% set postslist = collections.GlutenFree %}
{% include "components/postslist.njk" %}
{% endif %}

{% if page.url == "/products/gluten-free-products/" %}
<h4>[Gluten Freeeee]</h4>
{% set postslist = collections['GlutenFree'] %}
{% include "components/postslist.njk" %}
{% endif %}

{% if page.url == "/products/tamari-wheat-free-sauces/" %}
{% set postslist = collections.Tamari %}
{% include "components/tamari.njk" %}
{% endif %}



