---
layout: layouts/default.njk
section: recipes
class: recipes
---

<div class="search-wrapper">
<div id="search"></div>
</div>
{{ layoutContent | safe }}

{% set postslist = collections.Recipes %}
{% include "components/postslist.njk" %}
